@charset "utf-8";

/* CSS Document */
body {
	margin:0px;
	padding:20px 0px;
	color:#3B607B;
	background-color:#f5f5f5;
}

body, * {
	font-family: Verdana, Geneva, sans-serif;
	font-size:15px;
	line-height:20px;
}

a {
	color:#3B607B;
	text-decoration:none;
}

a:hover {
	color:#09F;
	text-decoration:underline;
}

input, button, submit {
	outline: none;
	border: 1px solid #d8d8d8;
	padding:10px;
	color:#3B607B;
}

input:hover, input:focus, button:hover, button:focus {
	border: 1px solid #F00;
}

.container_div {
	background-color:#FFF;
	padding:35px;
	width:75%;
	margin:auto;
	box-shadow:0px 1px 2px 3px #ccc;
	border-radius:10px;
}

button {
	width:100%;
	text-align:left;
	white-space:nowrap;
}

hr {
	padding:0px;
	margin:0px;
	height:0px;
	border:0px;
	border-top: 1px solid #d8d8d8;
}

.title {
	text-align: left;
	background-color: #f5f5f560;
	font-weight: normal;
	line-height: 30px;
	padding: 10px;
	border: 1px #d8d8d8 solid;
	/* border-bottom: none; */
    white-space: nowrap;
	cursor: pointer;
	margin-top: 10px;
}

.title:hover, .title:hover > div, .title:hover > div > span {
	background-color:#3B607B;
	color:#FFF;
}

.title .name {
	width:23%;
	display:inline-block;
	font-weight:bold;
	cursor:pointer;
}

.expand {
	padding:2px 5px;
	border:1px #d8d8d8 solid;
	border-radius:2px;
	margin-right:5px;
}

.title .desc {
	width:77%;
	display:inline-block;
}
.title .desc :: after {
 clear:both;
}

table {
	border-collapse:collapse;
	margin-bottom:30px;
	border:1px solid #3B607B;
}

tr:hover {
	background-color:#fcfcfc;
	cursor:pointer;
}

th {
	text-align:left;
	background-color:#f5f5f5;
	font-weight:normal;
	height:35px;
}

th, td {
	padding:10px 8px;
	border:1px #d8d8d8 solid;
}

td {
	vertical-align:top;
}

tr td:first-child {
	border-left:2px solid #3B607B;
}

tr:first-child td:last-child, tr:last-child td:last-child {
	border-right:2px solid #3B607B;
}

tr:last-child td {
	border-bottom:2px solid #3B607B;
}

ul, li {
	display: inline;
	padding:0px;
	margin:0px;
	cursor:pointer;
}

li {
	margin:0px;
	padding:10px;
	border:1px #CCC solid;
}

li:hover {
	background-color:#3B607B;
	border-color:#3B607B;
	color:#FFF;
}

.active {
	background-color:#3B607B;
	border-color:#3B607B;
	color:#FFF!important;
}

button {
	cursor:pointer;
}

.seperater {
	border-left:hidden;
	border-right:hidden;
}

.error_strings {
	color:#F00!important;
}
